<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="./../static/css/csrf.css">
    </head>
    <body>
        <a href="#" >点击有惊喜, 戳 戳 戳...</a>
        <a href="/">首页</a>
    </body>
</html>