<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <title><%= title %></title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<p>WEB安全 - 技术分享Demo</p>
<ul>
    <li>
        <a href="/shell">OS可执行命令漏洞</a>
    </li>
    <li>
        <a href="/xss">xss注入脚本 - 非存储型</a>
    </li>
    <li>
        <a href="/dxss">xss注入脚本 - 存储型</a>
    </li>
    <li>
        <a href="/csrf">csrf跨站漏洞</a>
    </li>
    <li>
        <a href="/sql">sql注入漏洞 - 显错注入</a>
    </li>
    <li>
        <a href="/msql">sql注入漏洞 - 盲打</a>
    </li>
</ul>
</body>
</html>